<section class="about-container" id="id-about">

  <div class="photo-about-us">
    <img class="our-photo" src="/assets/img/depositphotos_51933801-stock-photo-labrador-puppies-in-a-basket.jpg" alt="">
  </div>
  <div class="about">
    <h2 id="about-title">Sobre <br> nosotros</h2>
    <p class="about-pg">
      Los recetarios son de suma importancia para compartir conocimientos de cocina con futuras generaciones.
      <br>
      Se ha llevado a cabo una recopilacion de los platos mas importantes y emblematicos de nuestro pais.
      Esto conlleva un repaso rapido por la gastronomia ecuatoriana. <br>
      Somos Anthony y Daniel, quienes crearon esta pagina web con el proposito de dar a conocer nuestro pais
      mediante
      la creacion de un recetario, el cual guarda todos los pasos para llevar a cabo una degustacion de dicha
      gastronomia.<br>
      Ademas somos entusiastas de la programacion, formamos parte del Grupo IEEE de la Universidad Politecnica
      Salesiana del Ecuador
      Actuamlemte cursamos el quinto semestra de nuestra titulacion de pregrado, por lo que aspiramos a
      completar todos nuestros
      creditos estudiantilesy de esta forma afianzar nuestro conocimiento. <br>
    </p>
  </div>
</section>
