

.nav-bar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  text-align: center;
}
.main img{
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 5px;
}

.title-center-container {
  align-self: center;
}

.black {
  margin-left: 10px;
  color: #000;
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}


.researcher {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.researcher input[type="text"] {
  border: none;
  border-bottom: 2px solid #8b4513;
  outline: none;
  padding: 0px;
  font-size: 16px;
  transition: width 0.3s;
  width: 0;
  background-color: transparent;
  height: 100%;
}

.researcher-into{
  border-bottom: none;
}

.researcher:hover input[type="text"],
.researcher input[type="text"]:focus {
  width: 150px; /* Ancho deseado */
}
.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e8e8e8;
  height: 100%;
}

.container-nav a {
  text-decoration: none;
  color: #000;
  margin: 13px;
  align-self: center;
  padding: 9px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}
.container-nav a:hover {
          border: 1px solid rgba(158, 157, 157, 0.747);
          color: rgba(158, 157, 157, 0.747);
      }
