<div class="carrusel-container" id="id-carrusel">
  <div class="fond-container" id="id-fond1">
      <a href="#id-fond4">
          <img src="/assets/icons/arrow-left-circle.svg" alt="arrow-left">
      </a>
      <div class="fond-text-container">
          <p>Cuenca-Ecuador</p>
          <h1>Cuy asado con papas</h1>
          <p>El cuy con papas es una comida típica de la ciudad de Cuenca en Ecuador. Este platillo se lo consume
              mucho por la población, siendo asi la domesticación de este animal hasta su consumo. Es simple de
              preparar
              y cuenta con una exquisitez emblemática.
          </p>
      </div>
      <a href="#id-fond2">
          <img src="/assets/icons/arrow-right-circle.svg" alt="arrow-right">
      </a>
  </div>
  <div class="fond-container" id="id-fond2">
      <a href="#id-fond1">
          <img src="/assets/icons/arrow-left-circle.svg" alt="arrow-left">
      </a>
      <div class="fond-text-container">
          <p>Antioquia-Colombia</p>
          <h1>Bandeja Paisa</h1>
          <p>La bandeja Paisa es uno de los platillos mas representativos de Colombia,
              su variedad de sabores la hace una comida sin igual. Es un plato compuesto por arroz,
              frijol, carne freída, plátano, y acompañado con arepa.
          </p>
      </div>
      <a href="#id-fond3">
          <img src="/assets/icons/arrow-right-circle.svg" alt="arrow-right">
      </a>
  </div>
  <div class="fond-container" id="id-fond3">
      <a href="#id-fond2">
          <img src="/assets/icons/arrow-left-circle.svg" alt="arrow-left">
      </a>
      <div class="fond-text-container">
          <p>Argentina</p>
          <h1>Mate</h1>
          <p>El mate es una bebida tradicional en el sur de Latinoamérica, principalmente en Argentina.
              Este es elaborado con hojas de yerba de mate y agua caliente. Ademas de tener un sabor
              característico, tiene propiedades estimulantes y de respeto hacia los demás.
          </p>
      </div>
      <a href="#id-fond4">
          <img src="/assets/icons/arrow-right-circle.svg" alt="arrow-right">
      </a>
  </div>
  <div class="fond-container" id="id-fond4">
      <a href="#id-fond3">
          <img src="/assets/icons/arrow-left-circle.svg" alt="arrow-left">
      </a>
      <div class="fond-text-container">
          <p>Extremadura-España</p>
          <h1>Tortilla de patata</h1>
          <p>La tortilla de patata es una de las comidas tradicionales de la mesa Española. Es muy
              popular en España, pues su simple preparación la cual cosiste en huevo, sal, papas y aceite
              la hacen accesible para todos.
          </p>
      </div>
      <a href="#id-fond1">
          <img src="/assets/icons/arrow-right-circle.svg" alt="arrow-right">
      </a>
  </div>
</div>
