.title-init {
  margin-left: 10px;
  color: #ffe600;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}
.recipes-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  border-bottom: 1px solid rgb(192, 190, 190);
  padding-bottom: 20px;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.recipes-container a {
  text-decoration: none;
  color: black;
}


