<footer>
  <div class="media-bar-container">
      <div class="text">
          <p>Sigenos en nuestras redes</p>
      </div>
      <ul class="media-bar">
          <li><a target="_blank" href="https://www.instagram.com/" class="link-ig"><i
                      class="fa-brands fa-instagram" style="color: #000000;"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/" class="link-fb"><i class="fa-brands fa-facebook"
                      style="color: #000000;"></i></a></li>
          <li><a target="_blank" href="https://www.youtube.com/" class="link-yt"><i class="fa-brands fa-youtube"
                      style="color: #000000;"></i></a></li>
      </ul>
  </div>
</footer>
