<div class="form-container">
  <div class="uno">
      <h1>Envía <br> tu <br> receta</h1>
      <p>En el siguiente espacio tu puedes crear una receta para ser publicada en el sitio web
          recuerda colocar todos los ingredientes como todos los pasos y una imagen preview de
          tu platillo.
      <p>¡Es tu hora de mostrarnos tus platillos favoritos!</p>
  </div>
  <form [formGroup]="form">
      <label for="nombre">Nombre de la Receta:</label>
      <input type="text" formControlName="nombre" required class="input-name">

      <label for="ingredientes">Ingredientes:</label>
      <textarea id="ingredientes" formControlName="ingredientes" rows="4" required class="area-ingredientes"></textarea>

      <label for="preparacion">Instrucciones de Preparación:</label>
      <textarea id="preparacion" formControlName="preparacion" rows="4" required class="area-preparacion"></textarea>

      <label for="imagen">Imagen de la Receta:</label>
      <input type="file" id="imagen" formControlName="imagen" accept="image/*">

  </form>
  <button type="button" (click)="agregarReceta()" class="summit-enviar">Enviar Receta </button>
</div>
